body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header{
    background-color: #d40986;
    color: #fff;
    text-align: center;
    padding: 7px 0;
}

header h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

nav ul{
    display: inline;
    margin-right: 10px;
}

main{
    padding: 70px 0;
}

section{
    padding: 60px 30;
}

h2{
    font-size: 2em;
    margin-bottom: 1em;
}

.blog-post{
    margin-bottom: 90px;
}

.meta{
    color: #79e910;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.button{
    display: inline-block;
    background-color: #0cbd91;
    color: #10110a ;
    padding: 20px 10px;
    text-decoration: none;
    border-radius: 10px;
}

.button:hover{
    background-color: #0a8dad;
}

form{
    max-width: 600px;
    margin: 0 auto;
}